@charset "utf-8";
/*******************all***********************/
/*banner*/
.b_box_01{
	width: 100%;
	height: 450px;
}
.b_box_01 .flexslider{position:relative;height:450px;overflow:hidden;background:url("../images/js/loading.gif")/*tpa=http://www.hnwxdl.com/templates/btoe/images/js/loading.gif*/ 50% no-repeat;}
.b_box_01 .slides{position:relative;z-index:1;}
.b_box_01 .slides li{height:450px;}
.b_box_01 .flex-control-nav{position:absolute;bottom:30px;z-index:999;width:100%;text-align:center;}
.b_box_01 .flex-control-nav li{display:inline-block;width:70px;height:5px;margin:0 5px;*display:inline;zoom:1;}
.b_box_01 .flex-control-nav a{display:inline-block;width:70px;height:5px;line-height:40px;overflow:hidden;background:#389dee;cursor:pointer;}
.b_box_01 .flex-control-nav .flex-active{background:#2f2f2f;}

.b_box_01 .flex-direction-nav{position:absolute;z-index:3;width:100%;top:45%;}
.b_box_01 .flex-direction-nav li a{display:block;width:50px;height:50px;overflow:hidden;cursor:pointer;position:absolute;}

.box_1m{ width:1000px; margin:0 auto; height:480px; margin:0 auto; background:url("../images/bg_box1m.jpg")/*tpa=http://www.hnwxdl.com/templates/btoe/images/bg_box1m.jpg*/; position:relative;}
.box_1m_1{
	position: absolute;
	left: 594px;
	top: 52px;
	width: 399px;
	height: 325px;
	font-size: 18px;
	line-height: 2;
}
.box_1m_2{
	position: absolute;
	left: 594px;
	top: 361px;
}
.box_2m{ width:1000px; margin:0 auto; height:528px; margin:0 auto; background:url("../images/bg_box2m.jpg"); position:relative; font-size:18px; color:#389dee;}
.box_2m_1{
	position: absolute;
	left: 0px;
	top: 34px;
	width: 1002px;
	height: 69px;
	font-size: 30px;
	color: #389dee;
	text-align: center;
	font-weight: bold;
}
.box_2m_2{
	position: absolute;
	left: 582px;
	top: 156px;
	width: 404px;
	height: 107px;
}
.box_2m_3{
	position: absolute;
	left: 584px;
	top: 334px;
	width: 396px;
	height: 87px;
}
.box_3m{background:url("../images/bg_sdf2.jpg")/*tpa=http://www.hnwxdl.com/templates/btoe/images/bg_sdf2.jpg*/ center 360px no-repeat;width:1000px; margin:0 auto; height:600px; margin:0 auto; position:relative;}
.box_4m{background:url("../images/bg_mdbu.jpg")/*tpa=http://www.hnwxdl.com/templates/btoe/images/bg_mdbu.jpg*/ center top no-repeat;width:100%; height:829px; margin:0 auto; position:relative;}
